# DATABASE CONFIGURATION
POSTGRES_DB=postgres
POSTGRES_USER=odoo
POSTGRES_PASSWORD=odoo

# ODOO IMAGE/TAG (esto es para interpolación del compose)
ODOO_IMAGE=odoo/customized
ODOO_TAG=develop
ODOO_PORT=8069
ODOO_LONGPOLL_PORT=8072
ODOO_ADMIN_PASSWD=admin

# ODOO <-> POSTGRES (Odoo image vars)
HOST=db
PORT=5432
USER=${POSTGRES_USER}
PASSWORD=${POSTGRES_PASSWORD}
