POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=odoo
POSTGRES_PASSWORD=password

ODOO_IMAGE=ghcr.io/therevbv/odoo-ce
ODOO_TAG=develop
ODOO_PORT=8069
ODOO_LONGPOLL_PORT=8072
ODOO_ADMIN_PASSWD=admin
